.background-Header {
    color: #353239;
    background: #FFE4C4;
    width: auto;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.name-header {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
}

  .name-header::after {
    content: '';
  }
  