* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-Header {
    color: #353239;
    background: #FFE4C4;
    width: auto;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

  .name-header::after {
    content: '';
  }
  