* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe4c4;
  color: #353239;
  padding: 1rem;
  padding-left: 4.5rem;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #353239;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: whitesmoke;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 40px;
  height: 5px;
  background-color: #353239;
  margin: 5px;
  transition: all 0.6s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 3rem;
    background-color: #ffe4c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    font-weight: 800;
    font-size: 4rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-6rem);
  }

  .nav-links.open {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    z-index: 2;
  }

  .hamburger {
    position: fixed;
    display: block;
    z-index: 3;
    margin-top: 2rem;
  }

  .logo {
    display: none;
  }

  .navbar {
    justify-content: end;
  }
}

@media screen and (max-width: 430px) {
  .nav-links {
    font-size: 1.5rem;
    height: 100vh;
  }
}
